name: CI
on:
  push:
  pull_request:
  schedule:
    - cron: '15 9 * * *'
jobs:
  Build:
    timeout-minutes: 15
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        node-version: [ 24 ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v6
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Project setup
      uses: bpmn-io/actions/setup@latest
    - name: Build
      run: xvfb-run npm run all:ci
